@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $body_font_family;
}

p {
    font-size: $body_p_font_size;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $body_bg_color;

    main {
        background-color: $card_bg_color;
        height: 35rem;
        width: 22rem;
        border-radius: .8rem;
        padding: 1.5rem;

        .img {
            img {
                height: 18rem;
                width: 19rem;
                border-radius: .5rem;
            }    
        }
    }
}