@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

// Font
$body_p_font_size: 18px;
$body_font_family: 'Outfit', sans-serif;

// Body
$body_bg_color: hsl(217, 54%, 11%);

// Card
$card_bg_color: hsl(216, 50%, 16%);

// Line
$line_bg_color: hsl(215, 32%, 27%);

// User image border
$user_image_border: 1px solid hsl(0, 0%, 100%);

// P colors
$price_p_color: hsl(178, 100%, 50%);
$time_p_color: hsl(215, 51%, 70%);
$description_p_color: hsl(215, 32%, 27%);
$title_p_color: hsl(0, 0%, 100%);
$name_p_color: hsl(0, 0%, 100%);
$creation_p_color: hsl(215, 32%, 27%);

// Hover 
$title_hover_color: hsl(178, 100%, 50%);
$img_hover_bg_color: hsl(178, 100%, 50%);
$name_hover_color: hsl(178, 100%, 50%);